.cardFoundation {
    width: 15rem;
    margin-right: 3rem;
}

.cardImage{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.detailedImage{
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.characterContainer {
    margin: auto;
    width: 50%;
    overflow-x: auto;
}

.planetContainer {
    margin: auto;
    width: 50%;
    overflow-x: auto;
}

.vehiclesContainer {
    margin: auto;
    width: 50%;
    overflow-x: auto;
}

.charName {
    margin-left: 1rem;
}

.bottomContainer {
    margin-top: 3rem;
}

.birth {
    height: 33px;
}

.informationEdit {
    height: 33px;
}

.planetName {
    margin-left: 1rem;
}

.vehicleName{
    margin-left: 1rem;
}