.characterContainer {
    margin: auto;
    width: 50%;
    overflow-x: auto;
}

.planetContainer {
    margin: auto;
    width: 50%;
    overflow-x: auto;
}

.vehiclesContainer {
    margin: auto;
    width: 50%;
    overflow-x: auto;
}